<link rel="stylesheet" type="text/css" href="assets/header.css">

<header><nav class="navbar navbar-static-top">  
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="header navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="header icon-bar"></span>
        <span class="header icon-bar"></span>
        <span class="header icon-bar"></span>
      </button>      
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        {{#link-to 'application' tagName="li"}}
          {{#link-to 'application'}}
            Home
          {{/link-to}}
        {{/link-to}}        
        {{#link-to 'about' tagName="li"}}
          {{#link-to 'about'}}
            About
          {{/link-to}}
        {{/link-to}}
        {{#link-to 'resume' tagName="li"}}
          {{#link-to 'resume'}}
          Resume
          {{/link-to}}
        {{/link-to}}
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav></header>

