<link rel="stylesheet" type="text/css" href="/assets/about.css">
<div class="about center-block">
  <img id="headshot" class="center-block" src="/assets/images/me.jpg">
  <div class="about-header text-center"><h1>About Me</h1></div>
  <div class="about-body">
    <h4>Who Am I</h4>
    <p>My name is Matthew Chan, developer. And my mission is to create beautiful and meaningful things.</p>
    <p>I know, it sounds like a cheesy marketing line, but that's because you haven't met me yet.</p>
    <h4>My Background</h4>
    <p>Since 2011 I have been tinkering with the web, building static sites for friends and the occasional client while I worked my day-job as a Biology teacher. I never thought I would make a career out of my interest as being an educator was fun, but teaching the same topics over the years began to make me restless.</p>
    <p>My friends noticed my discontentment and recommended that I get serious about web development, and so I decided to jump right in. I took courses at Cal and Stanford; read and practiced tutorials from CodeAcademy, Treehouse, and Lynda; applied and went through DevBootCamp. </p>
    <p>Throughout the process I couldn't shake the familiarity that I felt in working with code and teaching, until I realized that they were the same thing.</p>
    <p>Where I once taught students the wonders of science and life, I now teach a computer to build worthwhile and relevant applications.</p>
    <h4>Welcome.</h4>
    <p>This site was built using Ember. If you are just browsing, a student of code, or an employer, please take a look around, reach out and contact me. </p>
  </div>
</div>