<link rel="stylesheet" type="text/css" href="/assets/footer.css">
<footer class="footer">
  <hr>
  <div class="container text-center">
    <a href="https://www.twitter.com/matt16749">{{font-awesome "fa-2x fa-twitter"}}</a>
    <a href="mailto:matt16749@gmail.com">{{font-awesome "fa-2x fa-envelope"}}</a>
    <a href="https://www.linkedin.com/in/matthewchan2000">{{font-awesome "fa-2x fa-linkedin"}}</a>
  </div>
</footer>