<link rel="stylesheet" type="text/css" href="/assets/resume.css">
<div class="resume-body">
<iframe class="center-block" src="https://resume.creddle.io/embed/8swjue3fnuz"
  width="850" height="1100" seamless></iframe>
</div>